<div class="alert alert-success">
  <h1 style="text-align: center;">Food Descovery Application</h1>
</div>
<div class="row">
  <div class="col-12">
    <nav class="navbar bg-danger navbar-expand-lg">
      <div id="mynav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="search">Search Restaurant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="map">Map of Restaurants</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<router-outlet></router-outlet>